body{
    margin: 0rem !important;
    padding: 0rem !important;
}
header {
    height: 125px;
    background-color:aquamarine;
    text-align: center;
    margin: 0;
    padding: 0.025rem;
}

header h3{
    font-style: italic;
}

nav>ul{
    list-style-type: none;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0.025rem;
    margin: 0;
}

li{
    padding: 0.50em;
    margin-left: 0.50em;
}

main{
    display: flex;
    justify-content: space-between;
}

.column-left{
    padding: 1rem;
    width: 20%;
    background-color:lightyellow;
}

.column-left img{
    width: 80%;
    align-self: center;
}
.column-right{
    padding: 1rem;
    width:70%
}

.content{
    display: flex;
    justify-content: row;
}

.content img{
    width: 30%;
}

.content p{
    width: 70%;
    padding: 1rem;
    margin: 0;
}

footer>ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color:lightgrey;
    margin: 0;
}